{% extends 'base.html' %}

{% block content %}
<div>
   

    <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">Заголовок статьи</span>
            </div>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">Текст статьи</span>
            </div>
            <textarea class="form-control" rows='7' aria-label="С текстовым полем" name="text"></textarea>
        </div>
        <br>
        <button class="btn btn-secondary btn-block">Добавить</button>
    </form>

{% endblock %}